<!DOCTYPE html>
<html>

<head>
  <title>LOGIN</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
  <form action="/logindone" method="POST" class="loginforms">
    <h4>LOGIN </h4>

    <label for="email"><b>Email ID</b></label>
    <input type="email" placeholder="Enter your Email ID" id="email" name="email" required>
    <br>
    <label for="password"><b>Password</b></>
    <input type="password" placeholder="Enter your password" id="password" name="password" required>
    <br>
    <button type="submit" name="submit">SUBMIT</button>

  </form>
</body>
</html>