<%- include('ejsPartials/header.ejs') %>

<body>
  <h4 class="text">CONGRATS!! SIGN UP SUCCESSFULL</h4>
  <form action="/login" method="GET">
    <button type="submit" class="next_login">Login Page</button>
  </form>
</body>

<%- include('ejsPartials/footer.ejs') %>