body{
  background-color: whitesmoke
}
.forms h4 {
 color: rgb(50, 20, 220);
padding-left: 88px;
}
.forms {
  text-align: left;
  padding-left: 500px;
  padding-top: 180px;
}
.forms input {
 margin-left: 10px;
 margin-top: 10px;
}
.forms button {
  margin-top: 35px;
  margin-bottom: 34px;
  margin-left: 88px;
}
.errormsg {
  font-size: 13px;
  color: brown;
  text-align: center;
}
h5{
  text-align: center;
}
.text{
  color: green;
  margin-top: 254px;
  text-align: center;
}
.next_login{
  margin-left: 600px;
}
h3{
  color: darkblue;
  text-align: center;
  margin-top: 300px;
}
.loginforms h4 {
  color: rgb(184, 39, 13);
  padding-left: 88px;
 }
 .loginforms {
   text-align: left;
   padding-left: 500px;
   padding-top: 180px;
 }
 .loginforms input {
  margin-left: 10px;
  margin-top: 10px;
 }
 .loginforms button {
  margin-top: 35px;
  margin-bottom: 34px;
  margin-left: 88px;
 }
.loginforms .errormsg{
  font-size: 13px;
  color: brown;
  font-weight: 800;
  text-align: left;
}
